margin-top-bottom(value)
  margin-top value
  margin-bottom value

.content
  display block
  margin-right 50px
  margin-left 50px

.menu-container
  display block
  display flex
  margin-top-bottom(10px)
  overflow hidden

@media (min-width: 850px)
  .margin-right-1px
    margin-right 1px

  .margin-left-1px
    margin-left 1px

  .menu-title-container
    display flex
    flex-grow 0
    width 60vh
    height 20vh
    justify-content center
    align-items center
    background-color lightgray

  .menu-button-container
    display flex
    flex-grow 1
    height 10vh
    align-self flex-end
    justify-content flex-end
    align-items center
    background-color lightgray

  .menu-button-item
    display inline-block
    padding 5px 10px
    background-color grey
    margin 0 5px
    color white
    min-height 3vh
    max-height @min-height
    overflow hidden

  .menu-button-item-selected
    @extend .menu-button-item
    background-color black

  .galary-bottom-container
    display flex
    align-self stretch
    max-height 10vh
    justify-content space-between

  .galary-bottom-item
    display flex
    width calc(50% - 1px)

    img
      display flex
      -object-fit cover
      width 100%

  .article-container
    display flex
    justify-content space-between

@media (max-width: 850px)
  .margin-right-1px
    margin-bottom 1px

  .margin-left-1px
    margin-top 1px

  .menu-title-container
    display flex
    flex-grow 0
    width 95vh
    height 20vh
    justify-content center
    align-items center
    background-color lightgray

  .menu-button-container
    display flex
    flex-grow 1
    flex-direction column
    align-self stretch
    justify-content center
    align-items center
    background-color lightgray

  .menu-button-item
    display inline-block
    padding 5px 10px
    background-color grey
    margin 2px auto
    color white
    min-height 3vh
    max-height 3vh
    width 20vh
    overflow hidden

  .menu-button-item-selected
    @extend .menu-button-item
    background-color black

  .galary-container
    display flex
    flex-direction column
    align-items center
    margin-bottom 10px

  .galary-bottom-container
    display flex
    flex-direction column
    align-self stretch

  .galary-bottom-item
    display flex
    max-height 10vh
    margin-bottom 2px

    img
      display flex
      -object-fit cover
      width 100%

  .article-container
    display flex
    flex-direction column
    align-items center

.galary-container
  display flex
  flex-direction column
  align-items center
  margin-bottom 10px

.galary-top-container
  display flex
  align-self stretch
  max-height 30vh
  margin-bottom 2px

  img
    display flex
    -object-fit cover
    width 100%

.article
  display flex
  flex-direction column
  padding 2px
  margin 2px
  max-width 62vh
  overflow hidden
  border 2px solid grey

  &-title
    display flex
    align-self center

  &-text
    display flex
    align-self center
    margin-top 0px

  &-logo
    display flex
    align-self center
    width 15vh
    margin-top 2px

.article-mini-container
  display flex
  flex-direction column
  justify-content space-between

.mini-article
  display flex
  flex-direction column
  padding 2px
  margin 2px
  max-width 62vh
  overflow hidden
  border 2px solid grey

.mini-article-head
  display flex

.mini-article-title
  display flex
  align-self center
  margin-left 5px

.mini-article-logo
  display flex
  align-self center
  width 15vh

.mini-article-text
  display flex
  margin-top 0px

footer
  background-color grey
  line-height 50px

.footer-left-text
  margin-left 10px
  vertical-align middle
  text-align left

.footer-right-text
  margin-right 10px
  vertical-align middle
  float right
