.topic {
    background-color: white;
}

h3 {
    text-align: center;
}

@media (min-width: 750px) {
    .content {
        display: grid;
        margin: 0 auto;
        padding: 10px;
        width: 100vh;
        background-color: chartreuse;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px;
    }

    .topic {
        text-align: left;
    }
    
    .last-topic {
        grid-column-start: 2;
        grid-column-end: 4;
    }
}

@media (max-width: 750px) {
    .content {
        display: grid;
        margin: 0 auto;
        padding: 10px;
        width: 50vh;
        background-color: chartreuse;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
        justify-items: center;
    }

    .topic {
        text-align: center;
    }

    .last-topic {
        grid-column-start: 1;
        grid-column-end: 3;
        width: 50%;
    }
}